<ion-header>
  <ion-toolbar>
    <ion-title>Fuel Stations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let station of fuelStations">
      <ion-card-header color="primary">
        <ion-card-title>{{station.name}}</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label>Current queue : {{station.queue.length}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Available Stock : {{station.fuelStock}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-progress-bar value= "{{station.fuelStock/station.capacity}}"></ion-progress-bar>
      </ion-item>

      <ion-button type="button" expand="block" fill="outline" color="secondary" (click)="presentAlert(station.id)">Request Fuel
        <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-button>
      <ion-button type="button" expand="block" fill="outline" color="secondary"  href="{{station.location}}">Navigate
        <ion-icon slot="end" name="navigate-circle"></ion-icon>
      </ion-button>


    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

